.forms {
  margin: 100px auto 0 auto;
  max-width: 400px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 18px rgb(0 0 0 / 11%);
}
.btn-form {
  border: none;
  color: white;
  background-color: black;
  padding: 14px 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 32px;
}
.btn-submit:hover {
  background-color: royalblue;
  cursor: pointer;
}
