._routerItems {
  margin: 0 30px;
  font-size: 22px;
  color: #ffffffb8;
  position: relative;
}
._routerItems.active {
  color: white;
}
._routerItems:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 770px) {
  ._routerItems {
    margin: 0 15px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  ._routerItems {
    margin: 10px 10px;
  }
  ._routerItems:hover {
    background-color: blueviolet;
    color: white;
    text-decoration: none;
  }
}
