.grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  margin: 75px auto 0 auto;
  max-width:95%;

}
.product {
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 1px 1px 4px #000000b0;
}
.product > h3 {
  margin: 8px 15px;
  font-weight: 550;
  font-size: 18px;
}

._productImage{
  width:300px;
  height:450px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 425px) {
  .grid {
    grid-template-columns: auto;
  }
}
