.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  width: 400px;
  height: 500px;
  margin-top: 30px;
}
.sliderDiv {
  margin: 0 auto;
}

.slick-slide {
  margin: 0 12px;
}
.slick-next {
  right: 16px;
  background-color: black;
}

.slick-prev {
  left: 16px;
  background-color: black;
}
